#aktivitaet {
  display: inline;
  width: 70%;
  height: 2.4rem;
  padding: 0 0.6rem;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid black;
}

#elterntyp {
  display: inline;
  width: 50%;
  height: 2.4rem;
  padding: 0 0.6rem;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid black;
}

#loesung {
  display: inline;
  width: 95%;
  height: 2.4rem;
  padding: 0 0.6rem;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid black;
}
